<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>Webinar Registration</title>	

		<meta name="keywords" content="" />
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Favicon -->
		<link rel="shortcut icon" href="" type="image/x-icon" />
		<link rel="apple-touch-icon" href="">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css">
		
        <!-- Theme Custom CSS -->
		<link rel="stylesheet" href="http://localhost:62114/templates/css/tailwind.css">
        
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="http://localhost:62114/templates/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://localhost:62114/templates/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="http://localhost:62114/templates/vendor/animate/animate.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="http://localhost:62114/templates/css/theme.css">

		
		<!-- Demo CSS -->
		<link rel="stylesheet" href="http://localhost:62114/templates/css/demos/demo-seo-2.css">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="http://localhost:62114/templates/css/skins/skin-seo-2.css"> 

		

	</head>
	<body >

		
			<header class="head_bg">
            	<div class="container">
                	<div class="logo">
                        <img src="http://localhost:62114/templates/img/logo.png" alt="" >
                    </div><!-----logo-------->
                    <div class="webnar_contant">
                        <a href="#">Webinar</a>
                        <p>Lorem ipsum dolor sit amet</p>
                        <h2><%HEADLINE%></h2>
                        <a href="<%REGISTERLINK%>" class="second_btn">Register Now</a>
                    </div><!---------------->
                </div><!------container-------->
            </header><!--------header--------->
			
            
            <div class="main_contant">


                <div class="video_section">
                    <div class="container">
                        <iframe width="485" height="270" src="https://www.youtube.com/embed/UBOj6rqRUME" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><!-------container------->
                </div><!-------video_section------->

                <div class="insta_training">
                    <div class="container">
                        <h2><%SUBHEADLINE%></h2>
                        <div class="row">
                            <div class="col-sm-3"></div><!------col----------->
                            <div class="col-sm-3">
                                <div class="col_text">
                                    <img src="http://localhost:62114/templates/img/check.png" alt="">
                                    <p><strong>Lorem ipsum dolor sit amet</strong><br>consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor lacus tincidunt ut. Nunc viverra lorem ipsum erat orci, ac auctor lacus tincidunt ut</p>
                                </div><!--------->
                                <div class="col_text">
                                    <img src="http://localhost:62114/templates/img/check.png" alt="">
                                    <p>Lorem ipsum dolor sit amet<br>consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac <strong>auctor lacus tincidunt ut.</strong> </p>
                                </div><!--------->
                                <div class="col_text">
                                    <img src="http://localhost:62114/templates/img/check.png" alt="">
                                    <p><strong>Lorem ipsum dolor sit</strong> amet<br>consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor lacus tincidunt ut. </p>
                                </div><!--------->
                            </div><!------col----------->
                            <div class="col-sm-3">
                                <div class="col_text">
                                    <img src="http://localhost:62114/templates/img/check.png" alt="">
                                    <p><strong>Lorem ipsum dolor sit amet</strong><br>consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci</p>
                                </div><!--------->
                                <div class="col_text">
                                    <img src="http://localhost:62114/templates/img/check.png" alt="">
                                    <p>Lorem ipsum dolor sit amet<br>consectetur adipiscing elit. ac <strong>auctor lacus tincidunt ut.</strong> </p>
                                </div><!--------->
                                <div class="col_text">
                                    <img src="http://localhost:62114/templates/img/check.png" alt="">
                                    <p><strong>Lorem ipsum dolor sit</strong> amet<br>consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor lacus tincidunt ut. </p>
                                </div><!--------->
                            </div><!------col----------->
                            <div class="col-sm-3"></div><!------col----------->
                        </div><!------row-------------->
                    </div><!---------container------------>
                </div><!--------insta_training--------->

                <div class="insta_real" style="background-color: green">
                    <div class="container">
                        <div class="real_box">
                            <h3>Use This Simple Plan to Build a REAL Instagram Audience</h3>
                            <ul>
                                <li><img src="http://localhost:62114/templates/img/check.png" alt="" height="17"> consectetur  </li>
                                <li><img src="http://localhost:62114/templates/img/check.png" alt="" height="17"> consectetur adipiscing</li>
                                <li><img src="http://localhost:62114/templates/img/check.png" alt="" height="17"> consectetur adipiscing elit </li>
                            </ul>
                            <a href="<%REGISTERLINK%>" class="second_btn">Register Now</a>
                        </div><!-------real_box-------->
                        <div class="contant_real">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor lacus tincidunt ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor lacus tincidunt ut...</p>
                            <div class="real_user">
                                <img src="http://localhost:62114/templates/img/bg.jpg" width="50" alt="">
                                <p><span>Peg Fitzpatrick</span><br>adipiscing elit</p>
                            </div><!----------------->
                        </div><!-------------------->
                    </div><!-----container--------->
                </div><!------------insta_real------------>

                <div class="insta_expert">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-8">
                                <h4 style="text-align:center">Testimonials</h4>
                            </div>
                            <div class="col-sm-2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-8">
                                <img src="http://localhost:62114/templates/img/testimonials/testimonial (1).png" width="100%" alt="">
                            </div>
                            <div class="col-sm-2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-8">
                                <img src="http://localhost:62114/templates/img/testimonials/testimonial (2).png" width="100%" alt="">
                            </div>
                            <div class="col-sm-2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-8">
                                <img src="http://localhost:62114/templates/img/testimonials/testimonial (3).png" width="100%" alt="">
                            </div>
                            <div class="col-sm-2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-8">
                                <img src="http://localhost:62114/templates/img/testimonials/testimonial (4).png" width="100%" alt="">
                            </div>
                            <div class="col-sm-2">

                            </div>
                        </div>
                        <div class="row" style="display:none">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-8">
                                <img src="http://localhost:62114/templates/img/testimonials/testimonial (5).png" width="100%" alt="">
                            </div>
                            <div class="col-sm-2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-8">
                                <img src="http://localhost:62114/templates/img/testimonials/testimonial (6).png" width="100%" alt="">
                            </div>
                            <div class="col-sm-2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-8">
                                <img src="http://localhost:62114/templates/img/testimonials/testimonial (7).png" width="100%" alt="">
                            </div>
                            <div class="col-sm-2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-8">
                                <img src="http://localhost:62114/templates/img/testimonials/testimonial (8).png" width="100%" alt="">
                            </div>
                            <div class="col-sm-2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-8">
                                <img src="http://localhost:62114/templates/img/testimonials/testimonial (9).png" width="100%" alt="">
                            </div>
                            <div class="col-sm-2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-8">
                                <h4 style="text-align:center">Speaker Profiles</h4>
                            </div>
                            <div class="col-sm-2">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-8">
                                <img src="http://localhost:62114/templates/img/speakerprofiles/profile.png" width="100%" alt="">
                            </div>
                            <div class="col-sm-2">

                            </div>
                        </div>

                    </div><!---------container--------->
                </div><!----------insta_expert--------->

                <div class="insta_expert" style="display:none">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2">

                            </div>
                            <div class="col-sm-4">
                                <h4>Hosted By Instagram Expert.</h4>
                                <h3>Rebekah Radice</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor lacus tincidunt ut. Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lorem ipsum erat orci, ac auctor lacus tincidunt ut. Lorem ipsum dolor sit amet,</p>
                                <img src="http://localhost:62114/templates/img/img2.png" width="100%" alt="">
                            </div>
                            <div class="col-sm-4">
                                <img src="http://localhost:62114/templates/img/img1.png" width="100%" alt="">
                            </div>
                            <div class="col-sm-2">

                            </div>
                        </div><!--------------->
                    </div><!---------container--------->
                </div><!----------insta_expert--------->

                <div class="hourinsta">
                    <div class="container">
                        <div class="webnar_contant">
                            <h2><%HEADLINE%></h2>
                            <a href="<%REGISTERLINK%>" class="second_btn">Register for the Webinar</a>
                        </div><!---------------->
                    </div><!------container-------->
                </div><!--------header--------->


            </div><!-------main_contant---------->
            
            
            
            
			<footer id="footer" class="bg-color-quaternary position-relative mt-0" style="display:none">
				<div class="footer_text">
                	<div class="container">
                    	<p>Lorem ipsum dolor sit amet</p>
                        <div class="insta_img">
                        	<img  src="http://localhost:62114/templates/img/bg.jpg" width="50" alt="" >
                            <p><span>Peg Fitzpatrick</span><br>adipiscing elit adipiscing elit<br>adipiscing elit adipiscing elit</p>
                        </div><!------------>
                        <p>Lorem ipsum dolor sit amet</p>
                        <p style="line-height: 17px;margin: 10px 0 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Nunc viverra lorem ipsum erat orci, ac auctor lacus tincidunt ut.</p>
                    </div><!--------container--------->
                </div><!--------------------->
			</footer>

		<!-- Vendor -->
		<script src="http://localhost:62114/templates/vendor/jquery/jquery.min.js"></script>
		<script src="http://localhost:62114/templates/vendor/jquery.appear/jquery.appear.min.js"></script>
		<script src="http://localhost:62114/templatesvendor/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
