<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

        <title><%HEADLINE%></title>	

		<meta name="keywords" content="" />
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Favicon -->
		<link rel="shortcut icon" href="" type="image/x-icon" />
		<link rel="apple-touch-icon" href="">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="http://localhost:62114/templates/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://localhost:62114/templates/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="http://localhost:62114/templates/vendor/animate/animate.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="http://localhost:62114/templates/css/theme.css">

		
		<!-- Demo CSS -->
		<link rel="stylesheet" href="http://localhost:62114/templates/css/demos/demo-seo-2.css">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="http://localhost:62114/templates/css/skins/skin-seo-2.css"> 

		<!-- Theme CSS -->
		<link rel="stylesheet" href="http://localhost:62114/templates/css/nutanix.css">
        
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://localhost:62114/templates/vendor/bootstrap/js/bootstrap.min.js"></script>



</head>
<body>
  <section class="bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="col-lg-8 col-md-8 col-sm-12 pt-4">
              <h1 class="text-white mt-5"><%HEADLINE%></h1></div>
            </div>
        </div>
    </div>
</section>

<section>
  <div class="container pb-3">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-12">

        <p class="pt-5">
          <%SUBHEADLINE%>
        </p>
        <p><b>Read the 2016 report to learn:</b></p>
        <div class="container">
          <div class="img10">
          <span style="float: left;"><img src="http://localhost:62114/templates/img/11.jpg"></span>
          <p style="float: left;"> An analysis of integrated systems and market trands for datacenter infrastructure.</p>
          </div>

          <div class="img11">
          <span style="float: left;"><img src="http://localhost:62114/templates/img/11.jpg"></span> 
          <p>Real-world considerations for deploying hyperconverged integrated systems(HCIS).</p>
          </div>
          
          <div class="img10">
          <span style="float: left;"><img src="http://localhost:62114/templates/img/11.jpg"></span>
           <p>
            Evaluation of strangths and cautions for 19 key vanders.
          </p>
          </div>
            <%REGISTER%>
        </div>
      </div>



      <div class="col-lg-5 col-md-5 col-sm-12 custom-right-sidebar">
              <div class="card mt-5 bg-light">
                <div class="card-body px-lg-4">
                    <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
                </div>
              </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
